[submodule "frontend"]
	path = frontend
	url = https://github.com/dimitri-hoareau/visitwitch-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/dimitri-hoareau/visitwitch-back.git
